@import "~bootstrap/scss/bootstrap";

.bg-img {
  background-image: url("./component/img/banner.jpg");
  min-height: 800px;
  .div1 {
    margin: 0 auto;
    background: rgba(121, 172, 255, 0.4);
    height: 900px;
  }

  //.navbar{ background:#F97300;}
  //.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}
  //.nav-link{ margin-right: 1em !important;}
  //.nav-link:hover{ background: #f4f4f4; color: #f97300; }
  //.navbar-collapse{ justify-content: flex-end;}
  //.navbar-toggler{  background:#fff !important;}
}