@import "~bootstrap/scss/bootstrap";

#Example{
  width: 100%;
  height: 100%;
}
#underline {
  position: relative;
  color: #000;
  text-decoration: none;
  &:hover:before {
    color: #1605ff;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(122, 170, 255, 0.95);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
}
.bg-img {
  #navbarBrand {
    border-color: aqua;
  }
  //background-image: url("./component/img/banner.jpg");
  min-height: 800px;
  Nav {
    Button {
      box-shadow: 0 1px 2px rgba(0,0,0,0.15);
      transition: all 0.3s ease-in-out;
      &:hover {
        opacity: 1;
        background: rgba(255, 5, 29, 0.29);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease-in-out;
      }
    }
  }
}