@import "~bootstrap/scss/bootstrap";

#Example{
  width: 100%;
  height: 100%;
}
#underline {
  position: relative;
  color: #000;
  text-decoration: none;
  &:hover:before {
    color: #1605ff;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(122, 170, 255, 0.95);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
}
.bg-img {
  #navbarBrand {
    border-color: aqua;
  }
  //background-image: url("./component/img/banner.jpg");

  Nav {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 99999;
    Button {
      box-shadow: 0 1px 2px rgba(0,0,0,0.15);
      transition: all 0.3s ease-in-out;

      &:hover {
        opacity: 1;
        background: rgba(255, 5, 29, 0.29);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
header{
  min-height: 100vh;
  background: url("component/img/headerBg.jpg");
  background-size: 100% auto;
  position: relative;
  padding-top: 40px;
  z-index: -1;
  .particle{
    position: absolute;
    width: 100%;
    min-height: calc(100% - 40px);

    .particlesBg{
      position: relative;
      z-index: 1;
    }
  }
  &::before{
    top: 0;
    left: 0;
    position: absolute;
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}